<a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL | relLangURL }}{{ end }}" style="text-decoration: none;">
    <div class="logo">
        {{ if .Site.Params.Logo.path }}
            {{ if .Site.Params.IconSmall.path }}
                <img src="{{ .Site.Params.IconSmall.path }}" class="themed-svg" alt="{{ .Site.Params.IconSmall.alt }}" style="height: 20px; margin-right: 8px;" />
            {{ end }}
            <img src="{{ .Site.Params.Logo.path }}" class="themed-svg" alt="{{ .Site.Params.Logo.alt }}" style="height: 17px;"/>
        {{ else }}
            <span class="logo__mark">{{ with .Site.Params.Logo.logoMark }}{{ . }}{{ else }}>{{ end }}</span>
            <span class="logo__text">{{ with .Site.Params.Logo.logoText }}{{ . }}{{ else }}hello{{ end }}</span>
            <span class="logo__cursor" style=
                  "{{ with.Site.Params.Logo.logoCursorDisabled }}visibility:hidden;{{ end }}
                   {{ with.Site.Params.Logo.logoCursorColor    }}background-color:{{ . }};{{ end }}
                   {{ with.Site.Params.Logo.logoCursorAnimate  }}animation-duration:{{ . }};{{ end }}">
            </span>
        {{ end }}
    </div>
</a>
